pseudo/*
rcnn_PASCAL_FISH.zip
keras-resnet
deep-l*
*.tar
final/*.out
final/log*
final/checkpoints/*
data/*
courses/*
resnet/checkpoints/*
resnet/logs/*
darknet/backup*
darknet/darknet*
darknet/data
darknet/Fish
darknet/obj
darknet/src
darknet/VOCdevkit
darknet/darknet19_448.conv.23
darknet/yolo.weights
